/* web font */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,300;0,400;1,900&display=swap');

*{
  margin:0;
  padding: 0;
}

.wrapper{
margin: auto;
width: 1000px;
}

body {
background-color:rgb(255, 182, 213);
}

h1{
  text-align: center;
  background-color:rgb(217, 68, 150);
  font-family: "Fjalla-one", sans-serif;
  letter-spacing: 2px;

}

h2{
  background-color:rgb(217, 68, 150); /*pink*/
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:10px;
  text-align: center;
  overflow: hidden;
  width: 100vw;
}

li {
  float: left;
  text-align: center;

}

li a{
  display: block;
  color: rgb(0,0,0);
  text-align: center;
  padding: 10px 30px ;
  text-decoration:none;
}

li a:hover {
  background-color:rgb(231, 114, 84)
}

.main {
  display: grid;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fill,minmax(300px,300px));
  column-gap: 10px;
  row-gap: 10px;
}


img {
  height: auto;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

p{
  text-align: justify;
  text-indent: 50px;
  font-family: "Roboto", sans-serif;
  font-weight:300;
}
