* {
  margin:0;
  padding: 0;
}

.wrapper {
margin: auto;
width: 1000px;
}

h1 {
  color: rgb(242, 141, 219); /*pink*/
}


.main {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,100px));
  column-gap: 30px;
  row-gap: 30px;
}

img {
  max-width:50% ;
  height: auto;

}
