*{
  margin:0;
  padding: 0;
}

.wrapper{
margin: auto;
width: 1000px;
}

h2{
  background-color: rgb(242, 141, 219); /*pink*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  background color: rgb(242, 141, 219);
}

li {
  float: left;
}

li a{
  display: block;
  color: (255,255,255);
  text-align: center;
}

li a: hover {
  background-color: (0.0,0)
}

active



.main {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,100px));
  column-gap: 30px;
  row-gap: 30px;
}


img {
  max-width:50% ;
  height: auto;
}
